#heading{
    text-align: center;
}
#head2{
    font-size: 18px;
    font-weight: bold;
}
li{
    font-size: 15px;
    margin-bottom: 5px;
} 
#eligibityvedio{
    margin-left: 20%;
    margin-bottom: 10px;
}