body{
        background-color: white;
        color:black
    } 
.dark{
    background-color: black;
    color:gray
}
 /* #btnmood{
     color: red;
 }    */

 .glyphicon-adjust{
     font-size: 15px;
     padding: 5px;
     color: red;
     padding-top: 10px;
     /* background-color: black; */
     /* margin-top: 5px; */
 }
